{% extends "base.html" %}
{% block header %}
{% include 'menu.html' %}
{% endblock %}
{% block content %}
<div class="container py-4">
  <div class="row">
    <section class="col-12 mb-4">
      <h2>Регистрация</h2>
      {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
      {% endif %}
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
    </form>
    </section>
  </div>
</div>
{% endblock %}